@import url(https://fonts.googleapis.com/css?family=Roboto|Karla);

body {
  font-family: 'Roboto';
  color: #2e2e2e;
}

h1, h2, h3 {
  font-family: 'Karla';
}

h1 {
  font-size: 1.3em;
  font-weight: bolder;
  text-transform: uppercase;
}

a {
  color: #2e2e2e;
}

a:hover {
  color: #2e2e2e;
}