@import url(https://fonts.googleapis.com/css?family=Hind+Madurai|Open+Sans|Noto+Sans|Work+Sans|Rubik|Hind+Madurai|Heebo|Nunito+Sans|Source+Sans+Pro|Chivo|Assistant|Palanquin+Dark|Biryani|Patua+One|Noto+Sans|Poppins|Didact+Gothic);
* {// -webkit-font-smoothing: antialiased;
}

* {-webkit-font-smoothing: antialiased;}

body {
  // background-color: $theme-color-lightestgrey;
  font-family: 'Rubik';
  color: #2e2e2e;
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

p {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

p.caption{
  font-size: 12px;
}

p.legal {
  font-size: 11px;
}

h1, h2, h3 {
  font-family: 'Hind Madurai', Helvetica, Arial;
  // font-family: 'Patua One', Helvetica, Arial;
  margin: 0;
  // color: $theme-color-black
}

 h4, h5, h6 {
  font-family: 'Hind Madurai', Helvetica, Arial;
  // font-family: 'Patua One', Helvetica, Arial;
  margin: 0;
  // color: $theme-color-black
}

h1.title {
  font-size: 52px;
  font-weight: 100;
  letter-spacing: 0.3px;
  color: black;
}


.subheading {
  margin-bottom: 25px;
  color: $theme-color-grey;
  font-weight: 600;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 20px;
}

h3.body {
  font-weight: 100;
  line-height: 26px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6.titleLabel {
  letter-spacing: 0.6px;
}

h6 {
  font-size: 14px;
}

.display1 h1 {
  font-size: 75px;
  font-weight: 600;
}

.display2 h1 {
  font-size: 54px;
  font-weight: 600;
}

a, a:hover {
  color: #2e2e2e;
  text-decoration: none;
}

.homeSection {
  color: $theme-color-black;
  text-transform: uppercase;
  margin-bottom: 25px;
  font-weight: 700;
}

.titleAndLabel {
  
  .titleLabel {
    margin-bottom: 15px;
    font-weight: 800;
  }

  .title {
    margin-bottom: 10px;
  }

}

.button {
  // padding: 12px 30px;
  padding: 10px 20px;
  border: $theme-color-purple solid 1px;
  background-color: $theme-color-white;
  border-radius: 2px;
  h5 {
    // text-transform: uppercase;
    color: $theme-color-purple;
  }
}

.button:hover {
  background-color: $theme-color-purple;
  h5 {
    color: $theme-color-white;
  }
}

// #b73d4c

.button2 {
  padding: 10px 20px;
  border: $theme-color-purple solid 1px;
  background-color: $theme-color-purple;
  border-radius: 2px;
  h5 {
    color: $theme-color-white;
  }
}

.button3 {
  margin-top: 15px;
  color: $theme-color-purple;
  border-bottom: 2px solid $theme-color-purple;
  width: 100px;
}

.learnMore {
  color: $theme-color-purple;
  font-family: 'Chivo';
  text-transform: uppercase;
  font-size: 12px;
}

.groupTags {
  margin-top: 8px;

  .groupCats {
    display: flex;
    flex-wrap: wrap;
    .groupCat {
      border: 0.5px $theme-color-lightgrey solid;
      border-radius: 100px;
      padding: 2px 10px;
      margin-right: 7px;
      margin-bottom: 3px;
      color: $theme-color-grey;
      // text-transform: uppercase;
    }
  }

  .groupSize {
    margin-top: 4px;
  }
}

.oAuthButtons {
  height: 130px;
  margin: 20px 0;
  // border: solid red 1px;
  .oAuthButton {
    width: 300px;
    // background-color: $theme-color-blue;
    border: #ddd solid 1.5px;
    color: $theme-color-grey;
    padding: 12px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 3px;
    font-size: 18px;
    margin: 5px;
    img {
      margin-right: 25px;
    }
  }

}