.groupContent {
  height: auto;
  width: auto;
  position: relative;
  background-color: $theme-color-white;
  .groupContentWrapper {
    height: auto;
    position: relative;
    width: 1250px;
    margin: 0 auto;
    
    .groupContentContent {
      // margin: 20px 0 0 0;
      padding: 20px 0 0 0;
      width: 100%;
      height: auto;
      color: #212121;

      .groupSectionHeading {
        font-weight: 400;
        font-size: 22px;
        margin: 0;
        padding: 0;
      }

      .groupSectionDescription {
        margin: 20px 0 0 0;
        padding: 0;
        // font-size: 15px;
      }

      .groupPageTopContent {
        // display: inline-flex;
        align-items: center;
        // justify-content: space-between;
        height: auto;
        width: 100%;
        align-items: flex-start;

        .groupPageContentLeft {
          margin-top: 60px;
          display: flex;
          height: auto;
          justify-content: space-between;

          .groupPageAbout {
            height: auto;
            width: 800px;
            margin: 0;
            // border: #ddd;
            // border-style: solid;
            // border-width: 0.5px;
            // border-radius: 3px;
            // padding: 30px;
          }

          .groupPageEvent {
            height: auto;
            width: auto;
            // margin-top: 10px;


            .groupUpcomingEvent {
              margin-top: 20px;
            }
          }
        }
      }

      
    }
  }

}