.groupContentOfficers {
  height: 100%;
  .groupContentOfficersWrapper {
    height: 100%;
    .groupContentOfficersContent {
      margin: 60px 0 0 0;
      padding: 0;
      width: 100%;
      height: 100%;
      color: #212121;
      // border: red 1px solid;


      .groupPageOfficers {
        height: auto;
        width: 100%;
        margin-top: 40px;
        margin-bottom: 60px;
          .groupUpcomingOfficers {
            // border: red 1px solid;
            height: 100%;
            display: flex;
            // align-items: center;
            justify-content: space-between;
            height: 100%;
            margin-top: 10px;
            width: 100%;
          }

      }
      
      .groupPageMembers {
        .groupPageMembersList {
          .groupPageMembersListItem {
            width: 100%;
            border: solid 1px red;
            height: 50px;
          }
        }
      }

    }

    
      
  }

}