.moimNav {
  
  .displayLogin {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1000;
  }

  .displayRegister {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1000;
  }

  .navbarComponent {
    position: relative;
    height: $navbar-height;
    width: 100%;
    z-index: 999;

    .navbarComponentContainer {
      height: $navbar-height;
      box-shadow: $navbar-shadow;
      background-color: $theme-color-purple;
      padding: 20px;
      margin: 0;
      border-bottom: 2px $theme-color-lightpurple solid;
      border-top: 2px $theme-color-purple solid;

      display: flex;
      align-items: center;
      justify-content: space-between;

      .navbarLogo {
        width: 200px;
        a {
          color: $theme-color-white;
        }
      }

      .mainLinks {
        display: flex;
        justify-content: space-between;
        width: auto;
        a {
          text-transform: uppercase;
          div {
            border-left: 0.2px $theme-color-lightpurple solid;
            height: $navbar-height;
            color: $theme-color-white;
            padding: 20px 30px;
          }

          .navEvents {
            border-right: 0.2px $theme-color-lightpurple solid;
          }
        }

        a:hover {
          div {
            border-left: 0.5px $theme-color-lightpurple solid;
            height: $navbar-height;
            color: $theme-color-white;
            padding: 20px 30px;
            transition: background-color $ease-time ease;
            background-color: $theme-color-lightpurple;
          }
        }
      }

      .account {
        width: 200px;
        height: $navbar-height;
        position: relative;
      }
    }
  }
}