.group {
  height: 100%;
  .groupWrapper {
    height: 100%;
    a:hover {
      text-decoration: none;
    }
    .groupContent {
      margin: 0;
      padding: 20px;
      border: $theme-color-lightgrey solid 0.5px;
      border-radius: 2px;
      width: 403.33px;
      height: 175px;
      background-color: $theme-color-white;
      box-shadow: $content-shadow;
      
      .groupItemNameWrapper {
        width: 100%;
        .groupItemName {
          font-weight: 500;
        }
      }

      .groupItemInfo {
        width: 100%;
        // border: red solid 1px;

        display: flex;

        .groupLogo {
          margin: 0;
          height: 80px;
          width: 80px;
          border: $theme-color-lightgrey;
          border-style: solid;
          background-color: lightgrey;
          border-width: 1px;
          border-radius: 2px;
        }

        .groupTags {
          margin-top: 10px;

          .groupCats {
            display: flex;
            flex-wrap: wrap;
            .groupCat {
              border: 0.5px $theme-color-lightgrey solid;
              border-radius: 100px;
              padding: 2px 10px;
              margin-right: 7px;
              margin-bottom: 3px;
              // text-transform: uppercase;
            }
          }

          .groupSize {
            margin-top: 7px;
          }
        }

      }
    }
  }

}