.cat {
  height: 100%;
  .catWrapper {
    height: 100%;
    .catContent {
      margin: 0;
      padding: 0;
      border: $theme-color-lightergrey;
      border-style: solid;
      border-width: 1px;
      border-radius: 3px;
      width: 345px;
      background-color: lightgrey;
      height: 200px;
      text-align: center;
      .catText {
        line-height: 150px;
        font-size: 24px;
        color: white;
      }
    }
  }

}