$theme-color-white: #fff;

.dynamicWrapper {
  width: 100%;
  height: 100%;
  .dynamicContent {
    margin: 100px auto 0 auto;
    border-radius: 2px;
    height: 700px;
    background: #fff url("./ksa_yale.jpg") no-repeat top center; //fixed;
    z-index: -5;
    position: relative;

    .layer {
      position: relative;
      background-color: rgba(100,100,100, 0.20);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -4;
    }

    .dynamicContentTextWrapper {
       position: relative;
       z-index: -3;
       display: flex;
       width: 100%;
       height: 100%;
       margin: 0;
       padding: 0;
        // padding: 150px 0 0 0;
        // padding: 50px;
        .dynamicContentBackground {
          background-color: $theme-color-white;
          width: 80px;
          height: 100%;
        }
        .dynamicContentText {
          margin: 300x 0 0 0;
          background-color: $theme-color-white;
          // background-color: $theme-color-purple;
          // border: solid 3px $theme-color-purple;
          padding: 140px 100px 0 0px;
          // padding: 20px;
          height: 100%;
          width: 500px;
          // float: right;
          color: $theme-color-grey;
          // color: $theme-color-white;
          
          h1 {
            // color: $theme-color-white;
          }
          // border-top: solid 3px $theme-color-purple;

          border-radius: 2px;

          .groupTags {
            margin-top: 15px;
            margin-bottom: 15px;
            .groupCats {
              display: flex;
              flex-wrap: wrap;

            }

            .groupSize {
              margin-top: 4px;
            }
          }

          .learnMore {
            margin-top: 15px;
          }
          .button2 {
            margin-top: 15px;
          }
        }

        
      }
  }
}