.exploreSectionWrapper {
  padding: 80px 0;
  text-align: center;
  .title {
    margin-bottom: 60px;
  }
  .expContent {
    margin-bottom: 20px;
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
  }
}