.accountButtons {
  /* right: 0;
  width: auto;
  top: 50%;
  position: absolute;
  transform: translate(0, -50%); */
  float: right;
  width: 150px;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  height: $navbar-height;
  // border: orange 1px solid;
  
  /* a.login {
    margin-right: 20px;
    color: $theme-color-white;
  } */

  a.loginLink {
    h6{
    line-height: 60px;
    }
  }
  a {
    color: $theme-color-grey;
    // line-height: $navbar-height;
  }
  // blue sign up button
  .signupLink {
    background-color: $theme-color-white;
    border: $theme-color-purple 2px solid;
    color: $theme-color-purple;
    padding: 2px 12px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 100px;
    margin: 10px 0;
  }
}