.accountButtons {
  right: 0;
  width: auto;
  top: 50%;
  position: absolute;
  transform: translate(0, -50%);
  // border: orange 1px solid;
  
  a.login {
    margin-right: 20px;
    color: #555555;
  }

  .signup {
    background-color: $theme-color-blue;
    border: none;
    color: $theme-color-white;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 3px;
  }
}