.dashboardFeed {
    width: 800px;
    .dashboardFeedItems {
        padding-top: 10px;
        .dashboardFeedItem {
            padding: 30px 30px;
            border: solid 1px lightgrey;
            border-radius: 2px;
            height: 320px;
            margin-bottom: 20px;
            .dashboardFeedItemTop {
                display: flex;
                .dashboardFeedItemIcon {
                    height: 50px;
                    width: 50px;
                    background-color: lightgrey;
                    border-radius: 2px;
                    margin-right: 10px;
                }
            }

            .dashboardFeedItemTitle {
                margin-top: 10px;
            }

            .dashboardFeedItemPost {
                margin-top: 15px;
            }

        }
    }
}