.dashboardGroups {
  margin: 40px 0 60px 0;

  width: 100%;
  .yourGroups{
    // border: orange 1px solid;
    padding-top: 10px;
    display: inline-flex;
    width: 760px;
    justify-content: space-between;

    .groupItem {
      margin-right: 10px;
    }
  }
}